{% extends "juice/templates/index.html" %} {% block hero %}

<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        Workshop on Computer-Aided Proofs of Security (CAPS)
    </h1>
    <h3 class="title-text">
        Computers should be helping us do cryptography.
    </h3>
</section>

<!-- <img class="hero-image" style="width: 50%" src="{{ get_url(path=config.extra.juice_logo_path) }}"> -->

<div class="explore-more text"
     onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore More ⇩
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }

    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none
        }
    }

  // Make a Google Maps iframe embed more responsive.
  .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }

  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
</style>


{% endblock hero %}


{% block sidebar %}

{% endblock sidebar %}


{% block footer %}
<footer>
    <small class="subtext">
        CAPS Workshop 2025
    </small>
</footer>
{% endblock footer %}
